/**
 * Глобальные переменные SCSS.
 * 
 * https://sass-scss.ru/documentation/sassscript/peremennie/
 */

// Fonts
$global-font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Colors
$global-color-black: black;
$global-color-black-alpha087: rgba(0, 0, 0, 0.87);
$global-color-input: rgba(34, 36, 38, 0.35);
$global-color-input-focus: rgba(34, 36, 38, 1);

// Sizes
$global-input-height-mobile: 34.28px;
